.filter
.navbar.navbar-inverse
  .navbar-inner
    .container
      .brand
        = "Videos [ #{@category} ]"
      %ul.nav
        %li.dropdown
          = get_category_dropdown_tag
          %ul.dropdown-menu
            %li
              = link_to 'Technology', '', class: 'category-link'
            %li
              = link_to 'Business', '', class: 'category-link'
            %li
              = link_to 'English', '', class: 'category-link'

.container
  - @feeds.each do |feed|
    = link_to content_tag(:h3, feed[:channel_name]), feed[:channel_url], class: 'title-base', target: '_blank'
    %ul.thumbnails
      - feed[:entries].each do |entry|
        %li.span2
          .thumbnail.text-center
            = link_to image_tag(entry[:image], width: 240), entry[:player], class: 'fancybox-media'
            .caption
              .small.text-right
                = entry[:published]
              .text-left
                = link_to content_tag(:h4, entry[:title]), entry[:player], class: 'fancybox-media title-base'
                %p= entry[:content]

