.filter

.navbar.navbar-inverse
  .navbar-inner
    .container
      .brand
        = "Videos [ #{@current_category.name} ]"
      %ul.nav
        %li.dropdown
          = get_category_dropdown_tag
          %ul.dropdown-menu
            - @categories.each do |category|
              %li
                = link_to category.name, '', class: 'category-link'

.container
  - @feeds.each do |feed|
    = link_to content_tag(:h3, feed[:channel_name]), feed[:channel_url], class: 'title-base', target: '_blank'
    %ul.thumbnails
      - feed[:entries].each do |entry|
        %li.span2
          .thumbnail.text-center
            = link_to image_tag(entry[:thumbnail_url], width: 240), entry[:url], class: 'fancybox-media'
            .caption
              .small.text-right
                = entry[:published]
              .text-left
                = link_to content_tag(:h4, entry[:title]), entry[:player], class: 'fancybox-media title-base'
                %p= entry[:description]

